version: '3.8'

services:
  traefik:
    environment:
      - TRAEFIK_PROVIDERS_DOCKER_SWARMMODE=true
      - TRAEFIK_PROVIDERS_DOCKER_NETWORK=aether-net

  cloudflared:
    image: "cloudflare/cloudflared:latest"
    container_name: "cloudflared"
    restart: unless-stopped
    depends_on:
      - traefik
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: tunnel run
    networks:
      - aether-net
    labels:
      - "traefik.enable=false"