version: '3.8'

services:
  cloudflared:
    image: "cloudflare/cloudflared:latest"
    container_name: "cloudflared"
    restart: unless-stopped
    depends_on:
      - traefik
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: tunnel run
    networks:
      - aether-net
    labels:
      - "traefik.enable=false"

  traefik:
    environment:
      - "TRAEFIK_PROVIDERS_DOCKER_SWARMMODE=true"
      - "TRAEFIK_PROVIDERS_DOCKER_NETWORK=aether-net"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        # Dashboard Router
        - "traefik.http.routers.traefik-dashboard.rule=Host(`${TRAEFIK_SUBDOMAIN}.${CLOUDFLARE_DOMAIN}`)"
        - "traefik.http.routers.traefik-dashboard.entrypoints=websecure"
        - "traefik.http.routers.traefik-dashboard.service=api@internal"
        - "traefik.http.routers.traefik-dashboard.tls=true"
        - "traefik.http.routers.traefik-dashboard.tls.certresolver=cloudflare"
        - "traefik.http.routers.traefik-dashboard.tls.domains[0].main=${CLOUDFLARE_DOMAIN}"
        - "traefik.http.routers.traefik-dashboard.tls.domains[0].sans=*.${CLOUDFLARE_DOMAIN}"
        - "traefik.http.routers.traefik-dashboard.middlewares=authelia"
        - "traefik.docker.network=aether-net"

  portainer:
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.portainer.rule=Host(`${PORTAINER_SUBDOMAIN}.${CLOUDFLARE_DOMAIN}`)"
        - "traefik.http.routers.portainer.entrypoints=websecure"
        - "traefik.http.routers.portainer.tls=true"
        - "traefik.http.routers.portainer.tls.certresolver=cloudflare"
        - "traefik.http.routers.portainer.tls.domains[0].main=${CLOUDFLARE_DOMAIN}"
        - "traefik.http.routers.portainer.tls.domains[0].sans=*.${CLOUDFLARE_DOMAIN}"
        - "traefik.http.services.portainer.loadbalancer.server.port=9000"
        - "traefik.http.routers.portainer.middlewares=authelia"
        - "traefik.docker.network=aether-net"