services:

  cloudflared:
    image: "cloudflare/cloudflared:latest"
    container_name: "cloudflared"
    restart: unless-stopped
    depends_on:
      - traefik
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: tunnel run
    networks:
      - aether-net
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=false"
